
    <div class="row" id="format_footer">
        <div class="col-md-4 ml-auto">

            <img src="assets/images/logo.jpg" id="nav_logo" alt="logo_aguias" >
        </div>
        <div class="col-md-4 ml-auto" id="division">

            <ul class="menu_footer" >
              <li>
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
              </li>
              <li>
                <a class="nav-link" routerLinkActive="active" routerLink="/sobre">Sobre</a>
              </li>
              <li>
                <a class="nav-link" routerLinkActive="active" routerLink="/testes">testes</a>
              </li>
            </ul>
        </div>
        <div class="col-md-4 ">
            <h4>Patrocinios</h4>
        </div>
    </div>

