<div class="row " >
  <div class="col-md-6 " id="logo_globinho">
      <img src="assets/images/globinho.jpg" class="image_globo" alt="imagem_logo" >
  </div>
  <div class="col-md-6 ml-auto first_fade" >
      <h3>Clube de desbravadores Águias da Colina</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit consequat eros. Nulla nec gravida nulla, non elementum arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra in neque vitae facilisis. Sed non turpis sodales, sagittis magna nec, efficitur dolor. Donec et ullamcorper magna. Phasellus nec commodo eros. Maecenas varius sapien et neque iaculis ornare. Donec eget volutpat est. Nunc tempor, neque ut tempus pretium, metus dui facilisis arcu, et mollis sapien orci at justo. Nunc ac enim mi. Maecenas ac enim a massa tristique venenatis. Phasellus varius ex nec enim rhoncus dapibus. In eleifend volutpat nulla eu rhoncus. Phasellus sit amet erat et risus tincidunt facilisis. Etiam ac scelerisque nisi, id aliquam lacus</p>
  </div>
</div>

<div class="row">
      <div class="back_fixed" style="background-image: url('assets/images/mata_atlantica.jpg')">

      </div>
</div>

<div class="row" >
  <div class="col-md-6 ml-auto second_fade">
    <h3>O Clube tem muito a oferecer.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit consequat eros. Nulla nec gravida nulla, non elementum arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra in neque vitae facilisis. Sed non turpis sodales, sagittis magna nec, efficitur dolor. Donec et ullamcorper magna. Phasellus nec commodo eros. Maecenas varius sapien et neque iaculis ornare. Donec eget volutpat est. Nunc tempor, neque ut tempus pretium, metus dui facilisis arcu, et mollis sapien orci at justo. Nunc ac enim mi. Maecenas ac enim a massa tristique venenatis. Phasellus varius ex nec enim rhoncus dapibus. In eleifend volutpat nulla eu rhoncus. Phasellus sit amet erat et risus tincidunt facilisis. Etiam ac scelerisque nisi, id aliquam lacus</p>
  </div>
  <div class="col-md-6 ml-auto">
    <img src="assets/images/desbrava_globo_escala.jpg" class="image_globo02" alt="imagem_logo" >
  </div>
</div>
