.tudao{
    background-image: url("assets/wallpaper01.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.todo_telalogin{
    width: 120%;

    background-color: #ffffff;

    margin: 20% 30% 20% 0%;

}

.titulo_login{
    background-color: #0000b3;
    padding: 5%;
}

.form_login{
    padding: 5%;
    border: 2px solid #1a75ff;
    border-top: 0px;
}

.form-control{
    border-radius: 0px;
}

.btn{
    border-radius: 0px;
}

