<div class="row" >
  <div class="col-sm-2 barra_lateral_esq">

  </div>
  <div class="col-sm-8">
    <div class="container">
      <h2 class="FraseInicial d-flex justify-content-center" >Suas Conquistas</h2><br/><br/>

      <div class="row">
        <div class="col-sm-4">

          <div class="card" (click)="conquistaPage()" >
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <img src="/assets/imagens_site_desbravador/classes_desbravador.gif" width="120px" height="120px" class="rounded-circle" alt="classes" />
                </div>
                <div class="col-sm-6 ">
                  <h3 class="classes" >Classes Conquistadas</h3>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm-4">

            <div class="card" (click)="conquistaEspecialidade()" >
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <img src="/assets/imagens_site_desbravador/especialidades_opcao.jpg" width="120px" height="120px" class="rounded-circle" alt="Especialidades" />
                    </div>
                    <div class="col-sm-6 ">
                      <h3 class="classes" >Especialidades</h3>
                    </div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col-sm-4">

          <div class="card" (click)="conquistaConquista()" >
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                    <img src="/assets/imagens_site_desbravador/conquistas_imagem.jpg" width="120px" height="120px" class="rounded-circle" alt="Conquistas" />
                </div>
                <div class="col-sm-6">
                  <h3 class="classes" >Conquistas</h3>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col background_footer">

      </div>
    </div>

  </div>
  <div class="col-sm-2 barra_lateral_dir">

  </div>
</div>
