

<div class="row">
  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">

    </div>
    <div class="carousel-item " style="background-image: url('assets/images/desbravadores01.png'); background-repeat: no-repeat; background-size: 100% 100%;" href="#one!">

    </div>
    <div class="carousel-item " style="background-image: url('assets/images/desbravadores02.jpg'); background-repeat: no-repeat; background-size: 100% 100%;"  href="#two!">

    </div>
    <div class="carousel-item " style="background-image: url('assets/images/aguia_vou.jpg'); background-repeat: no-repeat; background-size: 100% 100%;"  href="#three!">

    </div>
    <div class="carousel-item " style="background-image: url('assets/images/aguias03.jpg'); background-repeat: no-repeat; background-size: 100% 100%;" href="#four!">

    </div>
  </div>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/images/desbravadores01.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/desbravadores02.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/aguia_vou.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/aguias03.jpg"  alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



<div class="container" >
  <div class="row" >
    <div class="col-md-3 ml-auto"></div>
    <div class="col-md-7 ml-auto"><h3>Esses são os projetos que são desenvolvidos no clube.</h3></div>
    <div class="col-md-2 ml-auto"></div>
  </div><br/>
  <div class="row " >
    <div class="col-md-6 ml-auto" id="logo_globinho">
        <img src="assets/images/all_classes.jpg" class="image_globo" alt="imagem_logo" >
    </div>
    <div class="col-md-6 ml-auto first_fade" >
        <h3>Clube de desbravadores Águias da Colina</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit consequat eros. Nulla nec gravida nulla, non elementum arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra in neque vitae facilisis. Sed non turpis sodales, sagittis magna nec, efficitur dolor. Donec et ullamcorper magna. Phasellus nec commodo eros. Maecenas varius sapien et neque iaculis ornare. Donec eget volutpat est. Nunc tempor, neque ut tempus pretium, metus dui facilisis arcu, et mollis sapien orci at justo. Nunc ac enim mi. Maecenas ac enim a massa tristique venenatis. Phasellus varius ex nec enim rhoncus dapibus. In eleifend volutpat nulla eu rhoncus. Phasellus sit amet erat et risus tincidunt facilisis. Etiam ac scelerisque nisi, id aliquam lacus</p>
    </div>
  </div>

  <div class="row" >
      <div class="col-md-3 ml-auto">
        <img src="assets/images/aguias04.jpg" width="280" height="280" class="rounded float-left" alt="flag">
      </div>
      <div class="col-md-3 ml-auto">
        <img src="assets/images/aguias02.jpg" width="280" height="280" class="rounded float-left" alt="flag">
      </div>
      <div class="col-md-3 ml-auto">
        <img src="assets/images/aguias.jpg" width="280" height="280" class="rounded float-left" alt="flag">
      </div>
      <div class="col-md-3 ml-auto">
        <img src="assets/images/aguias05.jpg" width="280" height="280" class="rounded float-left" alt="flag">
      </div>
  </div>
  <br/><br/>

</div>

<div class="row" style="margin-right: 0px;" >
      <div class="back_fixed" style="background-image: url('assets/images/mata_atlantica.jpg')">

      </div>
</div>



<div class="container">

  <div class="row">
    <div class="col-md-3" ></div>
    <div class="col-md-7" >
      <h3>Fique atento aos nossos feeds de Notícia</h3>
    </div>
  </div><br/>

  <div class="row" >

      <div class="col-md-4 ml-auto">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="assets/images/ordem_unida01.jpg" height="200"  alt="Ordem unida">
            <div class="card-body">
              <h4 class="card-title">Campeonato da Região</h4>
              <p class="card-text">No mês de outubro teremos eliminatória da região...</p>
              <a href="#" class="btn btn-outline-primary">Visualizar</a>
            </div>
          </div>
      </div>

      <div class="col-md-4 ml-auto">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="assets/images/pico_jaragua.jpg"  height="200" alt="Pico do Jaraguá">
            <div class="card-body">
              <h4 class="card-title">Passeio para o pico do Jaraguá</h4>
              <p class="card-text">Faremos a nossa caminhada para o pico do Jaraguá...</p>
              <a href="#" class="btn btn-outline-primary">Visualizar</a>
            </div>
          </div>
      </div>


      <div class="col-md-4 ml-auto">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="assets/images/trilha01.JPG"  height="200" alt="Pico do Jaraguá">
            <div class="card-body">
              <h4 class="card-title">Caminhada para excurcionista e guia</h4>
              <p class="card-text">No final do Mês teremos uma caminhada para os maiores...</p>
              <a href="#" class="btn btn-outline-primary">Visualizar</a>
            </div>
          </div>
      </div>

  </div>
<br/>
<div class="row" >
  <div class="col-md-5"></div>
  <div class="col-md-2">
    <button type="button" class="btn btn-info">Vizualizar outras notícias</button>
  </div>
</div>
<br/><br/>










